@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

.list-container {
	display: table;
	width: 100%;
}

.list-container td {
	padding: 0.25rem;
}

.list-container td:first-child {
	padding-left: 0;
}

.list-container td:last-child {
	padding-right: 0;
}

input, button {
	border-radius: 0.5rem;
	color: var(--textColor);
	font-family: var(--font);
	outline: none;
	padding: 0.35rem 0.5rem;
	transition-duration: 200ms;
	transition-property: background-color, border-color, color;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
}

input {
	background-color: var(--secondaryBackgroundColor);
	border: 1px solid var(--secondaryBackgroundColor);
	width: 100%;
}

input:focus {
	border-color: var(--primaryColor);
}

button {
	background-color: var(--backgroundColor);
	border: 1px solid var(--fadedText10);
}

button:hover {
	border-color: var(--primaryColor);
	color: var(--primaryColor);
}

button:active {
	background-color: var(--primaryColor);
	color: white;
}

button:focus {
	outline: none;
}

.hidden {
	display: none;
}

.delete-entry {
	width: 0;
}

.list-buttons {
	display: flex;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.save-state {
	font-size: 0.85rem;
	font-style: italic;
	margin: 0;
	padding: 0.35rem 0.2rem;
	padding-top: 0.55rem;
	transition-duration: 200ms;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
}

.save-state.saved {
	color: var(--green);
	opacity: 0;
	transition-delay: 1s;
}

.save-state.unsaved {
	color: var(--red);
	opacity: 1;
	transition-delay: 0s;
}
